@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);




/*********** h27-32 ***************/


body{ margin: 0; padding: 0; background: #fafafa;
  font-family: YuGothic, 'Yu Gothic', 游ゴシック体, 游ゴシック, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro'
  , メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Osaka, 'MS PGothic', Arial, Helvetica, Verdana, sans-serif;
  background-image: url(../img/a.jpg);
}


header{
  padding-bottom: 5px;    
  margin: 20px 20px 30px;
  text-align: center;
  height: 50px;    
}

section{
  margin: 50px auto 50px;
  
}

small{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  
  
}


/************ Content Area ****************/

.bookBox{
  border: 2px solid #000;    
  width: 100%;
  max-width: 1100px;
  height: 450px;
  margin: 0 auto 20px;
  border-radius:10px;
  position: relative;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,.4);

}

/*　左　*/
/**** boxの指定 ****/
.item_box{
    width: 400px;
    height:400px;
    border-radius: 15px;
    position: absolute;
    top:25px;
    left: 125px;
    background-color: white;
}
/*** imgの指定 ***/
.bookimg{
    padding: 25px 500px 25px 50px; /*imgを中央に移動*/
}

/* 右 */
/**** boxの指定 ****/
.Rev_box{
    width: 400px;
    height: 400px;
    text-align: left;
    position: absolute;
    top:25px;
    left: 575px;
    border-left: 1px solid #000;
    background-color: white;
}
.Rev_text{
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
    padding-top:30px;
}
/***** Reviwe Write ****/
.text_area{

    text-align: center;
    width: 600px;
    height: 400px;
    margin-left: 250px;
    margin-top: 20px;
    border:1px solid #000;
    border-radius: 10px;
}

input{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #000;
}
textarea{
    width: 200px;
    height: 100px;
    border-radius: 10px;
    border:1px solid #000;
}
.textext{
    margin-left: 10px;
}
/***********************************/

/******* finish Page *******/
.vc-box{
  width: 100%;
  max-width: 600px;
  height: 300px;
  margin: 0 auto;
  background: #f4f4f4;
  text-align: center;    
  -moz-box-shadow: 5px 5px 5px rgba(0,0,0,.4);
  -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,.4);
  box-shadow: 5px 5px 5px rgba(0,0,0,.4);
}
.textfin{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
/************************************/

/********** Button Area *******/
.btn_area{
    text-align: center;
    padding-left: 475px;
}

.btn{
    list-style:none;
	/* display:inline-block; */
    width: 150px;
    height: 30px;
	padding:0.5em 1em;
    margin-left: 15px;
	background-color:#fff;	/*ボタンの色*/
	color:#000;/*テキストの色*/
	border-bottom:solid #777777;
	border-radius: 10px;
    float: left;
	/*box-shadow: 4px 4px #000;   左右の向き、上下の向き、ぼかし、広がり*/
}
.btn:active {
	-ms-transform: translateY(4px);
	-webkit-transform: translateY(4px);
	transform: translateY(4px);
	border-bottom: none;
	}


.btn a{
    text-align: center;
    text-decoration: none;
    color: #000;
}

/********* Cart CSS *********/
.bookBoxcart{
      
  border: 2px solid #000;    
  width: 100%;
  max-width: 1100px;
  height: 200px;
  margin: 10px auto 20px;
  border-radius:10px;
  position: relative;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0,0,0,.4);

}

/*　左　*/
/**** boxの指定 ****/
.item_boxcart{
    width: 400px;
    height:150px;
    border-radius: 15px;
    position: absolute;
    top:25px;
    left: 125px;
    background-color: white;
}
/*** imgの指定 ***/
.bookimg{
    padding: 25px 500px 25px 50px; /*imgを中央に移動*/
}

/* 右 */
/**** boxの指定 ****/
.Rev_boxcart{
    width: 400px;
    height: 150px;
    text-align: left;
    position: absolute;
    top:25px;
    left: 575px;
    border-left: 1px solid #000;
    background-color: white;
}
.Rev_text{
    font-family: 'Montserrat', sans-serif;
    padding-left: 30px;
    padding-top:30px;
}

.union{
    font-family: fantasy;
    text-align: center;
    padding: 5px 5px;
}
